@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
* {
	box-sizing: border-box;
	margin:0;
	padding:0;
}

h1 {
	font-family: 'Roboto', sans-serif;
	text-align:center;
	color:white;
}

body{
	background-color: black;
}

form {
	text-align: center;
	padding:20px;
}

button {
	font-family: 'Roboto', sans-serif;
	padding:10px;
	border-radius: 10%;
	background-color: white: 
	color: black;
	cursor:pointer;
	font-size: 16px;
}

button:hover {
	background-color:#CAE9FF;
}

label {
	font-family: 'Roboto', sans-serif;
	color: white;
}

ul {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	color:black;
	text-decoration: underline;
	padding: 25%;
	list-style-type: none;
	font-family: 'Indie Flower', sans-serif;
	font-size: 20px;
}

.post-it {
	background-image: url("../images/todo.jpg");
	background-size: cover;
	background-position: top;
	width: 100%;
	height:900px;

}